.header.header-fixed.unselectable.header-animated
	.header-brand
		.nav-item.no-hover
			h6.title 
				i.fas.fa-sun.fa-2x
				| &nbsp;Engenho Novo LLC
		.nav-item.nav-btn#header-btn
	.header-nav#header-menu
		.nav-left
			.nav-item.text-center
				a(href='#')
					span.icon
						i.fa.fas-github(aria-hidden='true')
			.nav-item.text-center
				a(href='#')
					span.icon
						i.fa.fas-slack(aria-hidden='true')
			.nav-item.text-center
				a(href='#')
					span.icon
						i.material-icons(aria-hidden='true') twitter
			.nav-item.has-sub.toggle-hover#dropdown
				a.nav-dropdown-link Choosing
				ul.dropdown-menu(role='menu')
					li(role='menu-item')
						a(href='#') Breakfast
					li(role='menu-item')
						a(href='#') Lunch
					li(role='menu-item')
						a(href='#') Supper
					li(role='menu-item')
						a(href='#') Blupper
					li(role='menu-item')
						a(href='#') Scooby Snacks
		.nav-right
			.nav-item.selected
				a(href='#') In Principio
			.nav-item
				a(href='#') Erat Verbum
			.nav-item.has-sub.toggle-hover#dropdown
				a.nav-dropdown-link In Media Res
				ul.dropdown-menu.dropdown-animated(role='menu')
					li(role='menu-item')
						a(href='#') First Item
					li(role='menu-item')
						a(href='#') Second Item
					li(role='menu-item')
						a(href='#') Third Item
			.nav-item.has-sub#dropdown
				a.nav-dropdown-link Click Me
				ul.dropdown-menu(role='menu')
					li(role='menu-item')
						a(href='#') First Item
					li(role='menu-item')
						a(href='#') Second Item
					li(role='menu-item')
						a(href='#') Third Item