extends layout

block content
  include header.pug
  .content-fluid
    section(style="margin-top: 15vh")
      .row(style="text-align: center")
        .col-4
          h5.headline-4 Engenho Novo LLC

          h6 Adeus Mundo Immundo
          button.btn-dark.btn-animated.with.dignity Imprints
          button.btn-default.btn-animated.with.dignity Offprints
        .col-4
          h5.headline-4 Engenho Novo LLC

          h6 Adeus Mundo Immundo
          button.btn-dark.btn-animated.with.dignity Imprints
          button.btn-default.btn-animated.with.dignity Offprints
        .col-4
          h5.headline-4 Engenho Novo LLC

          h6 Adeus Mundo Immundo
          button.btn-dark.btn-animated.with.dignity Imprints
          button.btn-default.btn-animated.with.dignity Offprints
    section
      .row
        .divider
        .col-4
          h5.headline-4 Engenho Novo LLC

          h6 Adeus Mundo Immundo
          button.btn-dark.btn-animated.with.dignity Imprints
          button.btn-default.btn-animated.with.dignity Offprints

        .col-4
          h5.headline-4 Engenho Novo LLC

          h6 Adeus Mundo Immundo
          button.btn-dark.btn-animated.with.dignity Imprints
          button.btn-default.btn-animated.with.dignity Offprints        
          
        .col-4
          h5.headline-4 Engenho Novo LLC

          h6 Adeus Mundo Immundo
          button.btn-dark.btn-animated.with.dignity Imprints
          button.btn-default.btn-animated.with.dignity Offprints