extends layout

block content
  .content-fluid
    section
      .row
        .col-4
          .panel
            h3 Engenho Novo LLC
            h4 San Pavlov City Lights
            h5 Adeus Mundo Immundo
            .btn-container
              button.btn-dark Imprints
              button.btn-primary Offprints
        .col-4
          .panel
            h3 Engenho Novo LLC
            h4 San Pavlov City Lights
            h5 Adeus Mundo Immundo
            .btn-container
              button.btn-dark Imprints
              button.btn-primary Offprints
        .col-4
          .panel
            h3 Engenho Novo LLC
            h4 San Pavlov City Lights
            h5 Adeus Mundo Immundo
            .btn-container
              button.btn-dark Imprints
              button.btn-primary Offprints
